#controlMenu{
    /* position */
    position: fixed;
    bottom: 0;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%, 0);
    /* area */
    width: 300px;
    /* style */
    opacity: 0;
    background-color: var(--main-background-color);
    border-radius: 10px;
    border: 1px solid var(--main-border-color);
    /* display */
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* transition */
    transition-duration: 0.3s;
    /* others */
    overflow: hidden;
    user-select: none;
    z-index: 301;
}

#controlMenu.open{
    opacity: 1;
    bottom: 65px;
    visibility: visible;
    transition-duration: 0.5s;
}

#controlMenu > div#controlMenu-head{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-background-color);
    border-radius: 5px;
    margin: 10px;
}
#controlMenu > div#controlMenu-head img{
    transition-duration: 0.3s;
}
#controlMenu > div#controlMenu-head img:hover{
    opacity: 0.5;
}
#controlMenu > div#controlMenu-head img:active{
    transform: scale(80%);
}
#controlMenu > div#controlMenu-quickOptions{
    padding: 5px;
    /* display */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#controlMenu > div#controlMenu-quickOptions > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 0.3s;
    gap: 10px;
}
#controlMenu > div#controlMenu-quickOptions > div label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#controlMenu img{
    max-width: 25px;
    max-height: 25px;
}
#controlMenu button{
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
