#notificationsMenu{
    /* position */
    position: fixed;
    bottom: 0;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%, 0);
    /* area */
    width: 500px;
    /* style */
    opacity: 0;
    background-color: var(--main-background-color);
    border-radius: 10px;
    border: 1px solid var(--main-border-color);
    padding: 10px;
    /* display */
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* transition */
    transition-duration: 0.3s;
    /* others */
    overflow: hidden;
    user-select: none;
    z-index: 301;
}

#notificationsMenu.open{
    opacity: 1;
    bottom: 65px;
    visibility: visible;
    transition-duration: 0.5s;
}

#notificationsMenu > div#notificationsMenu-head{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--second-background-color);
    border-radius: 5px;
    gap: 10px;
}
#notificationsMenu > div#notificationsMenu-head span{
    flex-grow: 1;
}
#notificationsMenu > div#notificationsMenu-head img{
    transition-duration: 0.3s;
}
#notificationsMenu > div#notificationsMenu-head img:hover{
    opacity: 0.5;
}
#notificationsMenu > div#notificationsMenu-head img:active{
    transform: scale(80%);
}
#notificationsMenu img{
    max-width: 30px;
    max-height: 30px;
}
#notificationsMenu #notificationsMenu-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    list-style-type: none;
    max-height: 500px;
    overflow-y: auto;
}
#notificationsMenu #notificationsMenu-container > li{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    transition-duration: 0.3s;
    border: 1px solid transparent;
}
#notificationsMenu #notificationsMenu-container > li:hover{
    background-color: var(--second-background-color);
}
#notificationsMenu #notificationsMenu-container > li > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#notificationsMenu #notificationsMenu-container > li > div img{
    max-width: 18px;
    max-height: 18px;
}