main > header{
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    user-select: none;
    z-index: 300;
}

main > header > div{
    padding: 5px;
    border-radius: 10px;
    background-color: var(--background2-color);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid var(--border-color);
}
main > header > div > div{
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: 0.3s;
}
main > header > div > div:hover{
    background-color: var(--background1-color);
}
main > header > div > div:active{
    transform: scale(90%);
}

main > header > div img{
    max-width: 20px;
    max-height: 20px;
}
