main > header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
    user-select: none;
    z-index: 300;
    background-color: var(--backgrounds-color);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

main > header > div{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main > header > div > div{
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: 0.3s;
}
main > header > div > div:hover{
    opacity: 0.5;
}
main > header > div > div:active{
    transform: scale(90%);
}

main > header > div img{
    width: 20px;
    height: 20px;
}
