#notificationsMenu{
    /* position */
    position: fixed;
    top: -100vh;
    left: 50%;
    transform: translate(-50%, 0);
    /* area */
    width: 500px;
    /* style */
    background-color: var(--background2-color);
    border-radius: 15px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid var(--border-color);
    /* display */
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* transition */
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.6, 0.05, 0.15, 0.95);
    /* others */
    overflow: hidden;
    user-select: none;
    z-index: 201;
}

#notificationsMenu-button.unread::before{
    content: attr(data-unread);
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: #ffffff;
    border-radius: 50%;
    /* overflow: hidden; */
}

#notificationsMenu.open{
    top: 60px;
}

#notificationsMenu > div#notificationsMenu-head{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    background-color: var(--background1-color);
    border-bottom: 1px solid var(--border-color);
    gap: 10px;
}
#notificationsMenu > div#notificationsMenu-head span{
    flex-grow: 1;
}
#notificationsMenu > div#notificationsMenu-head img{
    transition-duration: 0.3s;
}
#notificationsMenu > div#notificationsMenu-head img:hover{
    opacity: 0.5;
}
#notificationsMenu > div#notificationsMenu-head img:active{
    transform: scale(80%);
}
#notificationsMenu img{
    max-width: 30px;
    max-height: 30px;
}
#notificationsMenu #notificationsMenu-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    padding: 10px;
    list-style-type: none;
}
#notificationsMenu #notificationsMenu-container > li{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    transition-duration: 0.3s;
    align-items: center;
    /* border-bottom: 1px solid #626262; */
}
#notificationsMenu #notificationsMenu-container > li:hover{
    background-color: var(--background1-color);
}

body[theme="dark"] #notificationsMenu img{
    filter: invert(1);
}