body[theme="dark"] {
    /* system background */
    --system-background-image: url("../assets/system-wallpapers/leafs.jpg");
    /* colors */
    --primary: #0078D4;
    --secondary: #00B4D8;
    --disapled: #A6A6A6;
    --main-background-color: #1f1f1f;
    --second-background-color: #343434;
    --main-border-color: #555555;
    --text-color: #ffffff;
    /* effects */
    --shadow-color: rgba(0, 0, 0, 0.1);
    --primary-radius: 20px;
    --blur: 10px;
}
body[theme="dark"] img[alt="svg icon"]{
    filter: invert(1);
}