body[theme="dark"] {
    /* system background */
    --system-background-image: url("../images/wallpapers/leafs.jpg");
    /* colors */
    --primary: #0078D4;
    --secondary: #00B4D8;
    --disapled: #A6A6A6;
    --backgrounds-color: rgba(30, 30, 30, 0.5);
    --text-color: #ffffff;
    /* effects */
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: rgb(50, 50, 50, 0.5);
    --primary-radius: 20px;
    --blur: 10px;
}
body[theme="dark"] .toast img{
    filter: invert(1);
}
body[theme="dark"] .appWindow .appWindow-options span img{
    filter: invert(1);
}
body[theme="dark"] #controlMenu img{
    filter: invert(1);
}
body[theme="dark"] main > header img{
    filter: invert(1);
}
body[theme="dark"] #notificationsMenu img{
    filter: invert(1);
}