body[theme="light"] {
    /* system background */
    --system-background-image: url("../images/wallpapers/sunflowers.jpg");
    /* colors */
    --primary: #0078D4;
    --secondary: #00B4D8;
    --disapled: #A6A6A6;
    --backgrounds-color: rgba(240, 242, 245, 0.5);
    --text-color: #333333;
    /* effects */
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: rgb(127 127 127 / 0.5);
    --primary-radius: 20px;
    --blur: 10px;
}