#toast-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 10px;
    z-index: 301;
}

.toast {
    position: relative;
    left: 150%;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    background-color: var(--main-background-color);
    border-radius: 10px;
    border: 1px solid var(--main-border-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: toast 3s;
}
@keyframes toast {
    0% {
        left: 150%;
    }
    10% {
        left: 0;
    }
    90% {
        left: 0;
    }
    100% {
        left: 150%;
    }
}
.toast > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.toast > div > img {
    width: 18px;
    height: 18px;
}