#taskbar{
    /* position */
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    margin-bottom: 5px;
    /* style */
    padding: 5px;
    border-radius: 15px;
    background-color: var(--backgrounds-color);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border: 1px solid var(--border-color);
    z-index: 300;
    display: inline;
}
#taskbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
}
#taskbar ul li{
    /* aria */
    width: 50px;
    height: 50px;
    /* content */
    display: flex;
    justify-content: center;
    align-items: center;
    /* style */
    transition-duration: 0.3s;
    border: 1px solid transparent;
    border-radius: 10px;
}
#taskbar ul li:hover{
    background-color: var(--backgrounds-color);
    border: 1px solid var(--border-color);
}
#taskbar ul li img{
    max-width: 34px;
    max-height: 34px;
    transition-duration: 0.3s;
    user-select: none;
}
#taskbar ul li:active img{
    transform: scale(80%);
}